<div class="prezie col-md-4">
  <%= image_tag prezie.thumbnail, class: "prezie-img thumbnail" %>
  <h4><strong><%= prezie.title %></strong></h4>
  <p>Created by: <%= prezie.creator.name.titleize %></p>
  <p><%= prezie.created_at.localtime.strftime("%B %d, %Y") %></p>
</div>