<div class="search">
  <%= form_tag search_prezies_path, remote: true, id: "prezie-search-field" %>
  <%= text_field_tag "search[query]" %>
</div>

<div class="prezies">
  <%= render partial: "prezie", collection: @prezies %>
</div>

